<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Your own traveling Assistant</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
       {{!-- <link rel="stylesheet" type="text/css" href="../css/style.css"> --}}
       <script  src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

   {{{body}}}

   
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="materialize/js/materialize.js"></script>
    <script src="materialize/js/init.js"></script>

    <script>
        var title = "travel";
        var chat = "chat"
        var queryURL = "https://acobot-brainshop-ai-v1.p.rapidapi.com/get?bid={bid}&key={key}&uid={uid}&msg={msg}=" + title + "CJ6oLHI4R6GlBZSSAb3U7smFbtQhTn1H";
        

        $.ajax({
            url: "https://https://test.api.amadeus.com/v2=&apikey=trilogy",
            method: "GET"
          }).then(function(response) {
            console.log(response);
          });

          $.ajax({
            url: "",
            method: "GET"
          }).then(function(response) {
            console.log(response);
          });



          
        </script>


</body>

</html>
